body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.buttons {
    display: flex;
    gap: 10px;
}

a {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

a.google {
    background: #DB4437;
}

a.facebook {
    background: #1877F2;
}

a:hover {
    filter: brightness(0.9);
}

.container {
    padding-top: 80px; /* Adjusts for the height of the navbar */
}

.navbar {
    padding: 0.5rem 1rem;
}

.navbar-brand,
.navbar-nav .nav-link {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
}

.nav-item {
    margin-left: 10px;
}

.container.mt-5 {
    margin-top: 4rem !important;
}